.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 30%;
  min-width: 30%;
  min-height: 30rem;
  position: relative;

  .price {
    color: grey;
    font-size: 15px;
    margin: 1rem auto;
  }

  img {
    // max-width: -webkit-fill-available;
    height: 20rem;
    margin: 0 auto;
  }

  button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #eb2e35;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    position: absolute;
    bottom: 0;
  }

  button:hover {
    opacity: 0.7;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .out-of-stock {
    color: #eb2e35;
    font-size: 12px;
  }
}
