.order-history {
  margin: 0 3rem;

  .order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #eb2e35;
    padding: 1rem 0;

    .items {
      .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span:first-child {
          margin-right: 1rem;
        }
      }
    }
  }

  .warning {
    display: flex;
    justify-content: center;
    margin: 10rem auto;
    align-items: center;
    background: #00b6d4;
    padding: 2rem;
    border-radius: 5px;

    a {
      text-decoration: none;
      color: #fff;
      background: #eb2e35;
      padding: 0.5rem;
      border-radius: 5px;
      margin: 0 1rem;
    }
  }
}
