.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 3rem;
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

.cart-item:last-child {
  border-bottom: none;
}

.buttons {
  position: relative;
  margin-right: 60px;
}

.image {
  margin-right: 50px;

  img {
    width: 7rem;
    margin: 0 auto;
  }
}

.description {
  margin-right: 3rem;
  width: 15rem;

  span {
    display: block;
    font-size: 14px;
    color: #43484d;
    font-weight: 400;
  }
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

.quantity {
  span {
    margin: 0 1rem;
    border: none;
    text-align: center;
    font-size: 16px;
    color: #43484d;
    font-weight: 300;
  }
}

.plus-minus {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  padding: 0.3rem 1rem;
}

.total-price {
  display: flex;
  flex-direction: column;
  width: 83px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
  margin-left: 2rem;

  span {
    font-size: 12px;
    font-weight: 300;
    color: #86939e;
  }
}
