.nav {
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-shopping-cart {
  font-size: 24px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

#lblCartCount {
  font-size: 12px;
  background: #eb2e35;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

.nav {
  .wrap {
    position: relative;
    height: 100%;
    max-width: 1450px;
    // margin: 0 auto;

    .logo {
      width: 6rem;
      position: absolute;
      top: 50%;
      left: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: 0 30px;

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }
  }

  .title {
    margin: 0px 30px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .item {
    display: inline-block;
    margin: 0px 30px 0px 0px;
  }
}
